<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIZAgNoKW82kuGjbTfEcCImzYLudb2LNI</string>
	<key>GCM_SENDER_ID</key>
	<string>299488500745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unitysocial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>unity-social-6483e</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-social-6483e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299488500745:ios:d12c67db181602115d6cd8</string>
</dict>
</plist>